<div class="d-flex justify-content-center gap-2 py-5">
  <button class="btn btn-dark" (click)="showMessageOverlay = true">Show Message Overlay</button>
  <button class="btn btn-info" (click)="showCardOverlay = true">Show Card Overlay</button>
</div>

<app-overlay [visible]="showMessageOverlay">
  <app-message>
    <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
    <button class="btn btn-primary" (click)="showMessageOverlay = false">Close</button>
  </app-message>
</app-overlay>

<app-overlay [visible]="showCardOverlay">
  <div class="card">
    <img src="assets/img/Skipper.png" style="width: 100%;">
    <div class="card-container">
      <h4>Skipper</h4>
      <p class="mb-2">Software Developer</p>
      <button class="btn btn-secondary mb-2" (click)="showCardOverlay = false">Close</button>
    </div>
  </div>
</app-overlay>
